html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.cell{
  width: 100px;
  height: 100px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 100px;
  font-size: 50px;
  cursor: pointer;
}

#gameContainer{
  font-family:  "Helvetica Neue",Helvetica,Arial,sans;
  text-align: center;
}

#cellContainer{
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}
